.create-btn {
  padding: 1% 2%;
  background-color: purple;
  border: 1px solid purple;
  border-radius: 11px;
  font-size: larger;
  color: white;
  cursor: pointer;
}

.input-field {
  margin: 0 5%;
  width: 35%;
  border: 2px solid purple;
  border-radius: 25px;
  padding: 1%;
  font-size: 1.2vw;
  text-align: center;
  font-weight: bold;
}

.select-status {
  margin-right: 2%;
}
