.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 75%;
  min-height: 10em;
  margin: auto;
  margin-top: 2%;
  border: 1px solid #4fd5d5;
  border-radius: 5px;
  padding: 2%;
}
